{
  "extends": "eslint-config-airbnb",
  "rules": {
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off",
    "react/jsx-filename-extension": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/no-unescaped-entities": "off"
  }
}
