@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200&display=swap');

body {
    min-height: 100vh;
    overflow-x: hidden;
}

body * {
    transition: 0.75s;
}

img,
svg {
    height: auto;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

a:hover {
    text-decoration: none;
}

/** Custom CSS */
.highlight {
    background: #e0b0343b;
    border: 1px solid;
    border-radius: 5px;
}

.is-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

