body {
  min-height: 100vh;
}

body * {
  transition: 0.75s;
  font-weight: 300 !important;
}

img,
svg {
  height: auto;
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

a:hover {
  text-decoration: none;
}
